In [53]:
import pandas as pd
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_rows', 500)

import re

In [54]:
import numpy as np

In [55]:
from googletrans import Translator
translator = Translator()

In [56]:
import geocoder

In [57]:
import time
import datetime

In [58]:
import pinyin

## Join central gov info and resume

In [59]:
df_pl_info = pd.read_csv("pl_info_clean.csv")
df_pl_resume = pd.read_csv("pl_resume_clean.csv")

In [60]:
df_pl_info = df_pl_info.drop(columns = ["publish_date"])

In [61]:
df_pl_info.head()

,name,url,gender,ethnic,dob_y,age,join_work_y,pob_p,join_party_y,edu_dg,province
0,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,男,汉族,1953,65,1969.0,陕西,1974.0,研究生,central government
1,李克强,http://cpc.people.com.cn/n1/2017/1025/c414940-29608804.html,男,汉族,1955,63,1974.0,安徽,1976.0,研究生,central government
2,栗战书,http://cpc.people.com.cn/n1/2017/1025/c414940-29608805.html,男,汉族,1950,68,1972.0,河北,1975.0,大学,central government
3,汪洋,http://cpc.people.com.cn/n1/2017/1025/c414940-29608807.html,男,汉族,1955,63,1972.0,安徽,1975.0,大学,central government
4,王沪宁,http://cpc.people.com.cn/n1/2017/1025/c414940-29608808.html,男,汉族,1955,63,1977.0,山东,1984.0,研究生,central government

In [62]:
df_pl_resume.head()

,year_clean,content,name,url,location
0,1969-01-01,陕西省延川县文安驿公社梁家河大队知青、党支部书记,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,陕西
1,1970-01-01,陕西省延川县文安驿公社梁家河大队知青、党支部书记,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,陕西
2,1971-01-01,陕西省延川县文安驿公社梁家河大队知青、党支部书记,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,陕西
3,1972-01-01,陕西省延川县文安驿公社梁家河大队知青、党支部书记,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,陕西
4,1973-01-01,陕西省延川县文安驿公社梁家河大队知青、党支部书记,习近平,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,陕西

In [63]:
df_pl_resume.shape

(3349, 5)

In [64]:
df_test = df_pl_resume.merge(df_pl_info, left_on = "url", right_on = "url", how= "outer")

In [65]:
df_test["name"] = df_test["name_y"]

In [66]:
df_test.drop(columns = ["name_x", "name_y"], inplace = True)

In [67]:
df_pl = df_test

In [68]:
df_pl["year"] = df_pl["year_clean"]

In [69]:
df_pl.drop(columns = ["year_clean"], inplace = True)

In [70]:
df_pl.shape

(3350, 14)

## Join local gov info and resume

In [71]:
df_ll_info = pd.read_csv("ll_info_clean.csv")
df_ll_resume = pd.read_csv("ll_resume_clean.csv")

In [72]:
df_ll_info.shape

(1383, 11)

In [73]:
df_ll_resume.shape

(34163, 5)

In [74]:
df_test = df_ll_resume.merge(df_ll_info, left_on = "url", right_on = "url", how= "outer")

In [75]:
df_test["name"] = df_test["name_y"]

In [76]:
df_test.drop(columns = ["name_x", "name_y"], inplace = True)

In [77]:
df_ll = df_test

### Combine pl & ll

In [78]:
df = df_pl.append(df_ll)
df.replace("新疆维吾尔","新疆", inplace = True)
df.replace("内蒙","内蒙古", inplace = True)
df.replace("黑龙","黑龙江", inplace = True)
df.to_csv("resume_clean_chinese.csv", index = False)

C:\Users\Weihua\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [79]:
df_info = df_pl_info.append(df_ll_info)
df_info.to_csv("info_clean_chinese.csv", index = False)

C:\Users\Weihua\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [80]:
df.head(1)

,age,content,dob_y,edu_dg,ethnic,gender,join_party_y,join_work_y,location,name,pob_p,province,url,year
0,65.0,陕西省延川县文安驿公社梁家河大队知青、党支部书记,1953.0,研究生,汉族,男,1974.0,1969.0,陕西,习近平,陕西,central government,http://cpc.people.com.cn/n1/2017/1025/c414940-29608803.html,1969-01-01

In [81]:
df.shape

(37615, 14)

### Keys
#### - name
#### - age
#### - province: whether they are local officials or central government officials
#### - current_title
#### - edu_dg: their highest education degree
#### - gender
#### - ethnic
#### - pob_p: province of birth
#### - dob_y: which year they were born
#### - join_party_y: which year they joined party (if they did at all)
#### - join_work_y: which year they joined workforce
##### - year
##### - location
##### - content: they were at {location} on {year} doing {content}
#### - url

### Now let's try some analysis

In [82]:
df.dropna(subset = ["year", "content", "name"], inplace = True)

### So I was born on June, 1994, in a city called Dalian, which is in Liaoning. I want to know: how many leaders were in Liaoning at the time I was born

In [83]:
df[(df.year == "1994-01-01") & (df.location == "辽宁")]

,age,content,dob_y,edu_dg,ethnic,gender,join_party_y,join_work_y,location,name,pob_p,province,url,year
532,68.0,辽宁省总工会主席、党组书记,1950.0,研究生,汉族,女,1973.0,1969.0,辽宁,孙春兰,河北,central government,http://cpc.people.com.cn/n1/2017/1025/c414940-29608815.html,1994-01-01
147,55.0,辽宁阜新矿业学院现辽宁工程技术大学矿山测量专业学习,1963.0,本科,汉族,男,1987.0,1983.0,辽宁,张瑞书,河北,河北,http://ldzl.people.com.cn/dfzlk/front/personPage11004.htm,1994-01-01
8290,55.0,辽宁省委党校青训班学员,1963.0,研究生,汉族,男,1984.0,1985.0,辽宁,王力威,辽宁,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage16131.htm,1994-01-01
8745,55.0,沈阳市团委副书记、书记、党组书记下派锻炼沈阳联营公司副总经理辽宁大学经济管理学院国民经济管理专业学习,1963.0,研究生,汉族,女,1985.0,1982.0,辽宁,范继英,辽宁,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage16204.htm,1994-01-01
10158,52.0,中国建设银行辽宁省分行办公室工作人员,1966.0,研究生,满族,男,1988.0,1991.0,辽宁,陈雍,辽宁,重庆,http://ldzl.people.com.cn/dfzlk/front/personPage16389.htm,1994-01-01
11101,57.0,博州审计局企业审计科科长辽宁省锦西市审计局商贸会计科副科长,1961.0,本科,蒙古族,男,1993.0,1984.0,辽宁,巴德玛拉,新疆,新疆,http://ldzl.people.com.cn/dfzlk/front/personPage16616.htm,1994-01-01
16047,50.0,辽宁省水利学校教师,1968.0,本科,满族,男,1996.0,1993.0,辽宁,李金科,辽宁,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage18723.htm,1994-01-01
18933,56.0,辽宁省建材局副局长、党组副书记,1962.0,研究生,汉族,男,1982.0,1983.0,辽宁,陈海波,吉林,黑龙江,http://ldzl.people.com.cn/dfzlk/front/personPage4150.htm,1994-01-01
19072,54.0,辽宁地质矿产研究所工作人员,1964.0,博士,满族,男,1985.0,1988.0,辽宁,蹇彪,辽宁,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage4170.htm,1994-01-01
19097,55.0,辽宁师范大学国际交流学院副院长副处级、国际文化交流中心总经理,1963.0,研究生,汉族,男,1987.0,1988.0,辽宁,王明玉,辽宁,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage4173.htm,1994-01-01
27086,62.0,辽宁省委组织部副部长,1956.0,研究生,汉族,男,1975.0,1975.0,辽宁,王东明,辽宁,四川,http://ldzl.people.com.cn/dfzlk/front/personPage4949.htm,1994-01-01
27492,63.0,辽宁财经学院财政金融系助教,1955.0,博士,汉族,男,NaN,1974.0,辽宁,夏德仁,山东,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage4983.htm,1994-01-01
29029,57.0,辽宁省科学技术委员会科技成果处副处长、处长,1961.0,博士,汉族,男,1985.0,1983.0,辽宁,李佳,辽宁,内蒙古,http://ldzl.people.com.cn/dfzlk/front/personPage5471.htm,1994-01-01
29817,54.0,辽宁省北镇县公安局副局长明确为正科级,1964.0,研究生,满族,男,1984.0,1980.0,辽宁,王立科,山东,江苏,http://ldzl.people.com.cn/dfzlk/front/personPage5968.htm,1994-01-01
29884,54.0,辽宁省经委技改处科员、副主科员、主科员、副处长,1964.0,研究生,汉族,男,1989.0,NaN,辽宁,裴伟东,内蒙古,辽宁,http://ldzl.people.com.cn/dfzlk/front/personPage5979.htm,1994-01-01
30729,57.0,辽宁省营口市纪委办公室干部、调研室科级检查员、党风管理室副主、党风廉政建设室副主,1961.0,本科,汉族,女,1983.0,1983.0,辽宁,黄晓薇,辽宁,山西,http://ldzl.people.com.cn/dfzlk/front/personPage6332.htm,1994-01-01

### Of 1400~ people I got in the database, what's the percentage for men and women?

In [32]:
df_info.gender.value_counts(normalize = True)*100

# 男 means male
# 女 means female

男    92.28631
女     7.71369
Name: gender, dtype: float64

### Now I will get coordinates for the following:

#### location
#### pob_p
#### province

### which is basically everything except for content, because I don't want to pay for google translate

#### first, get all location, pob_p, and province value

In [136]:
loc = df["location"].value_counts().reset_index()

In [137]:
pob = df["pob_p"].value_counts().reset_index()

In [138]:
prov = df["province"].value_counts().reset_index()

In [113]:
df1= loc.append(pob)

C:\Users\Weihua\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [114]:
df1= df1.append(prov)

C:\Users\Weihua\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [115]:
df1.drop(columns = ["location", "pob_p", "province"], inplace = True)

In [116]:
df1

                 index
0                   北京
1                   重庆
2                   四川
3                   河南
4                   天津
5                   广西
6                  内蒙古
7                   西藏
8                   山东
9                   湖南
10                  新疆
11                  贵州
12                  安徽
13                  湖北
14                  江西
15                  上海
16                  河北
17                  甘肃
18                 黑龙江
19                  青海
20                  广东
21                  吉林
22                  浙江
23                  辽宁
24                  云南
25                  江苏
26                  山西
27                  福建
28                  陕西
29                  海南
30                 解放军
31                  宁夏
32                  美国
33                  深圳
34                  香港
35                  德国
36                  英国
37                  法国
38                  澳门
39                 加拿大
40                  台湾
41                  日本
0                   山东
1                   河南
2                   河北
3                   湖南
4                   重庆
5                   江苏
6                   湖北
7                   安徽
8                   四川
9                   浙江
10                  辽宁
11                  江西
12                  山西
13                  广东
14                  甘肃
15                 内蒙古
16                  云南
17                  广西
18                  陕西
19                  福建
20                  吉林
21                  新疆
22                  贵州
23                  青海
24                 黑龙江
25                  天津
26                  西藏
27                  宁夏
28                  北京
29                  上海
30                  海南
31                  台湾
32                  澳门
0   central government
1                   重庆
2                   四川
3                   河南
4                   广东
5                   广西
6                   新疆
7                   湖南
8                  内蒙古
9                   安徽
10                  河北
11                 黑龙江
12                  江西
13                  湖北
14                  天津
15                  西藏
16                  甘肃
17                  贵州
18                  江苏
19                  山西
20                  云南
21                  山东
22                  辽宁
23                  青海
24                  吉林
25                  宁夏
26                  海南
27                  福建
28                  陕西
29                  北京
30                  浙江
31                  上海
32                  香港
33                  澳门

In [117]:
df1 = df1["index"].value_counts().reset_index()

In [118]:
df1 = df1[(df1["level_0"] != "central government") & (df1["level_0"] != "解放军") & (df1["level_0"] != "加拿大") & (df1["level_0"] != "日本") & (df1["level_0"] != "德国") & (df1["level_0"] != "美国") & (df1["level_0"] != "英国") & (df1["level_0"] != "法国")]

### Get coordinates for every place in df1

In [119]:
def get_latitude(row):
    if row["location"] == "海南":
        latitude = geocoder.baidu("海南省", key="mykey").json["lat"]

    else:
        latitude = geocoder.baidu(row["location"], key='mykey').json["lat"]
    time.sleep(1)

    return latitude

In [120]:
def get_longitude(row):
    if row["location"] == "海南":
        longitude = geocoder.baidu("海南省", key='mykey').json["lng"]
    else:
        longitude = geocoder.baidu(row["location"], key='mykey').json["lng"]
    time.sleep(1)
    
    return longitude

In [121]:
df1["location"] = df1["level_0"]

In [122]:
df1.drop(columns = ["index", "level_0"], inplace = True)

In [123]:
df2 = df1

In [124]:
df2["latitude"] = df2.apply(get_latitude, axis=1)

In [125]:
df2["longitude"] = df2.apply(get_longitude, axis=1)

In [155]:
df_test = df.merge(df2, left_on = "location", right_on = "location", how= "outer")

In [156]:
df_test["location_lat"] = df_test["latitude"]
df_test["location_lng"] = df_test["longitude"]

In [157]:
df_test.drop(columns = ["latitude", "longitude"], inplace = True)

In [158]:
df_test = df_test.merge(df2, left_on = "pob_p", right_on = "location", how= "outer")

In [159]:
df_test["pob_lat"] = df_test["latitude"]
df_test["pob_lng"] = df_test["longitude"]

In [160]:
df_test.drop(columns = ["latitude", "longitude"], inplace = True)

In [161]:
df_test = df_test.merge(df2, left_on = "province", right_on = "location", how= "outer")

In [162]:
df_test["province_lat"] = df_test["latitude"]
df_test["province_lng"] = df_test["longitude"]

In [163]:
df_test.drop(columns = ["latitude", "longitude"], inplace = True)

In [164]:
df_test.dtypes

age             float64
content          object
dob_y           float64
edu_dg           object
ethnic           object
gender           object
join_party_y    float64
join_work_y     float64
location_x       object
name             object
pob_p            object
province         object
url              object
year             object
province_lat    float64
province_lng    float64
location_lat    float64
location_lng    float64
location_y       object
pob_lat         float64
pob_lng         float64
location         object
dtype: object

In [165]:
df_test["location"] = df_test["location_x"]

In [166]:
df_test.drop(columns = ["location_x", "location_y"], inplace = True)

In [167]:
df_test.to_csv("for_map.csv", index = False)