# Writing SQL Queries in Python

It's finally time (just one week in) to liberate yourself from running SQL in the shell! 
Now we will move into the peaceful iPython Notebook where we will happily play with our data for the next month.

## Python PostgreSQL libraries

To connect from Python to the PostgreSQL database you have installed on your computer, we need a library (database adapter library). For this class we will use [pg8000](https://github.com/mfenniak/pg8000). It is written entirely in Python, and it is easy to install. 

The other library many people use, psycopg2, is much faster(http://blog.fizyk.net.pl/blog/sqlalchemy-speed-tests-on-postgres-and-mysql.html) but tricky to install--so we will stick with the basics. If you find you need greater performance in the future, you will find the coding syntax quite similar. If you want to learn more about these packages [here is a nice summary](https://www.openscg.com/2017/01/how-to-pick-a-postgresql-python-driver/)

## Installing pg8000

First make sure you have `pip` installed on computer! Then write:

    pip3 install pg8000
    
(Hopefully this will do the trick. Use sudo if that's what you do.)

## Connecting to a database with pg8000

When using a SQL server from Python, two main objects are necessary to make the connection and to send queries and commands:

* 1. The *connection Object*, pg8000.connect(), which connects you to the database and server. You can pass a few parameters inside the connect() function, including the name of the database, user, password and others. (See documentation here)[http://pythonhosted.org/pg8000/dbapi.html#pg8000.connect]
* 2. *cursor objects*, which you use to make SQL queries and retrieve data returned from those queries.

To create a connection object, call `pg8000`'s `connect()` function:

In [8]:
import pg8000
#conn = pg8000.connect(database="mondial")
#You may need to specify the Username
conn = pg8000.connect(database="mondial", user="postgres")
print(type(conn))

<class 'pg8000.core.Connection'>

## Making a query

Now that we've connected, you need create a cursor() object through which we will send commands. (Imagine this as an actual blinking cursor on page that you will type into. We are using the connection object's `.cursor()` method:

In [9]:
cursor = conn.cursor()
print(type(cursor))

<class 'pg8000.core.Cursor'>

The cursor object has several methods of interest to us. You can find all of the properties of the cursor method on the [documentation page](http://pythonhosted.org/pg8000/dbapi.html). The first and most important is `.execute()`, which takes a SQL statement (in a Python string) as a parameter:

In [14]:
#Longest rivers
cursor.execute("SELECT name, max(length) FROM river GROUP BY name ORDER BY max(length) DESC NULLS LAST")

The `.execute()` performs the query, but doesn't return any values. After calling `.execute()`, you can call the cursor's `.fetchone()`, `.fetchmany()` or `.fetchall()`  methods to get rows returned from the query:

In [21]:
#This gets one row, if you run again it gets the next row
cursor.fetchone()

['Jurua', Decimal('3283')]

In [16]:
#This gets the next 8 rows
cursor.fetchmany(8)

(['Hwangho', Decimal('4845')],
 ['Lena', Decimal('4400')],
 ['Zaire', Decimal('4374')],
 ['Mekong', Decimal('4350')],
 ['Irtysch', Decimal('4248')],
 ['Niger', Decimal('4184')],
 ['Missouri', Decimal('4130')],
 ['Jenissej', Decimal('4092')])

In [22]:
#This gets the rest of the rows (or a all of the rows if you call it first)
cursor.fetchall()

(['Tarim-Yarkend', Decimal('3260')],
 ['Purus', Decimal('3210')],
 ['Yukon River', Decimal('3185')],
 ['Indus', Decimal('3180')],
 ['Nile', Decimal('3090')],
 ['Rio Grande del Norte', Decimal('3034')],
 ['Saluen', Decimal('2980')],
 ['Brahmaputra', Decimal('2896')],
 ['Rio Negro', Decimal('2866')],
 ['Volta', Decimal('2850')],
 ['Donau', Decimal('2845')],
 ['Angara', Decimal('2830')],
 ['Rio Sao Francisco', Decimal('2830')],
 ['Amur', Decimal('2824')],
 ['Japura', Decimal('2816')],
 ['Darling River', Decimal('2739')],
 ['Euphrat', Decimal('2736')],
 ['Parana', Decimal('2640')],
 ['Ganges', Decimal('2620')],
 ['Zambezi', Decimal('2574')],
 ['Paraguay', Decimal('2549')],
 ['Kolyma', Decimal('2513')],
 ['Tocantins', Decimal('2450')],
 ['Ischim', Decimal('2450')],
 ['Ural', Decimal('2428')],
 ['Pilcomayo', Decimal('2425')],
 ['Murray River', Decimal('2375')],
 ['Rio Salado', Decimal('2355')],
 ['Arkansas', Decimal('2334')],
 ['Colorado', Decimal('2330')],
 ['Syrdarja', Decimal('2212')],
 ['Dnepr', Decimal('2201')],
 ['Araguaia', Decimal('2198')],
 ['Xi Jiang', Decimal('2197')],
 ['Irawaddy', Decimal('2170')],
 ['Oranje', Decimal('2160')],
 ['Kasai', Decimal('2153')],
 ['Orinoco', Decimal('2010')],
 ['Xingu', Decimal('1980')],
 ['Columbia River', Decimal('1953')],
 ['Rio Mamore', Decimal('1931')],
 ['Songhua', Decimal('1927')],
 ['Peace River', Decimal('1923')],
 ['Maranon', Decimal('1905')],
 ['Mackenzie River', Decimal('1903')],
 ['Tigris', Decimal('1900')],
 ['Don', Decimal('1870')],
 ['Shabelle', Decimal('1820')],
 ['Rio Putumayo', Decimal('1813')],
 ['Petschora', Decimal('1809')],
 ['Kama', Decimal('1805')],
 ['Uruguay', Decimal('1790')],
 ['Blue Nile', Decimal('1783')],
 ['Limpopo', Decimal('1750')],
 ['Rio Parnaiba', Decimal('1716')],
 ['Okavango', Decimal('1700')],
 ['Jubba', Decimal('1658')],
 ['Chatanga', Decimal('1636')],
 ['Argun', Decimal('1620')],
 ['Ucayali', Decimal('1600')],
 ['Beni', Decimal('1600')],
 ['Tobol', Decimal('1591')],
 ['Murrumbidgee River', Decimal('1579')],
 ['Ohio River', Decimal('1579')],
 ['Rio Magdalena', Decimal('1538')],
 ['Han', Decimal('1532')],
 ['Satluj', Decimal('1500')],
 ['Ré“†o Salado del Oeste', Decimal('1498')],
 ['Rio Guaviare', Decimal('1497')],
 ['Oka', Decimal('1480')],
 ['Godavari', Decimal('1465')],
 ['Lomami', Decimal('1450')],
 ['Rio Madeira', Decimal('1450')],
 ['Senegal', Decimal('1430')],
 ['Amudarja', Decimal('1415')],
 ['Schari', Decimal('1400')],
 ['Benue', Decimal('1400')],
 ['South Saskatchewan River', Decimal('1392')],
 ['Liao He', Decimal('1390')],
 ['Yamuna', Decimal('1376')],
 ['Kura', Decimal('1364')],
 ['Rio Grande', Decimal('1360')],
 ['Dnister', Decimal('1352')],
 ['Rhein', Decimal('1324')],
 ['Iguacu', Decimal('1320')],
 ['Narmada', Decimal('1312')],
 ['Theiss', Decimal('1308')],
 ['Krishna', Decimal('1291')],
 ['Aruwimi', Decimal('1287')],
 ['North Saskatchewan River', Decimal('1287')],
 ['Ottawa River', Decimal('1271')],
 ['Kherlen', Decimal('1264')],
 ['Vaal', Decimal('1251')],
 ['Chanab', Decimal('1242')],
 ['Athabasca River', Decimal('1231')],
 ['Ili', Decimal('1221')],
 ['Rio Madre de Dios', Decimal('1210')],
 ['Rio Meta', Decimal('1200')],
 ['Saint Lawrence River', Decimal('1197')],
 ['Rio Cauca', Decimal('1180')],
 ['Green River', Decimal('1175')],
 ['Bahr el-Djebel/Albert Nil', Decimal('1156')],
 ['Hong He', Decimal('1149')],
 ['Kapuas', Decimal('1143')],
 ['Pjandsh', Decimal('1141')],
 ['Huallaga', Decimal('1138')],
 ['Rio Paraiba do Sul', Decimal('1137')],
 ['Tiete', Decimal('1130')],
 ['Uelle', Decimal('1130')],
 ['Sepik', Decimal('1126')],
 ['Helmand', Decimal('1125')],
 ['Orchon', Decimal('1124')],
 ['Atbara', Decimal('1120')],
 ['Fly River', Decimal('1120')],
 ['Gambia', Decimal('1120')],
 ['Ubangi', Decimal('1120')],
 ['Liard River', Decimal('1115')],
 ['Ré“†o Colorado', Decimal('1114')],
 ['Huai', Decimal('1110')],
 ['Cuango', Decimal('1100')],
 ['North Platte River', Decimal('1094')],
 ['Elbe', Decimal('1091')],
 ['Ghaghara', Decimal('1080')],
 ['Aras', Decimal('1072')],
 ['Paranaiba', Decimal('1070')],
 ['Arauca', Decimal('1050')],
 ['Bandama', Decimal('1050')],
 ['Tennessee River', Decimal('1049')],
 ['Weichsel', Decimal('1047')],
 ['Gila River', Decimal('1044')],
 ['Apure', Decimal('1038')],
 ['Yuan Jiang', Decimal('1033')],
 ['Onon', Decimal('1032')],
 ['Western Dwina', Decimal('1020')],
 ['Loire', Decimal('1013')],
 ['Essequibo', Decimal('1010')],
 ['Tajo', Decimal('1007')],
 ['Rio Usumacinta', Decimal('1000')],
 ['Tshuapa', Decimal('1000')],
 ['Acre', Decimal('1000')],
 ['Selenge', Decimal('992')],
 ['Mahakam', Decimal('980')],
 ['Lulua', Decimal('970')],
 ['Cuilo', Decimal('970')],
 ['Mbomou', Decimal('966')],
 ['Rio Lerma Santiago', Decimal('965')],
 ['Chambal', Decimal('960')],
 ['Pruth', Decimal('953')],
 ['Karun', Decimal('950')],
 ['White Nile', Decimal('950')],
 ['Save', Decimal('945')],
 ['Memel', Decimal('937')],
 ['Paranapanema', Decimal('929')],
 ['Ebro', Decimal('925')],
 ['Maas', Decimal('925')],
 ['Sanaga', Decimal('918')],
 ['Lukenie', Decimal('900')],
 ['Ussuri', Decimal('897')],
 ['Douro', Decimal('897')],
 ['Barito', Decimal('890')],
 ['Red River of the North', Decimal('877')],
 ['Kuban', Decimal('870')],
 ['Neiè„½e', Decimal('866')],
 ['Oder', Decimal('866')],
 ['Xiang Jiang', Decimal('856')],
 ['Taimyra', Decimal('840')],
 ['Tom', Decimal('827')],
 ['Tuul', Decimal('819')],
 ['Wei He', Decimal('818')],
 ['ComoèŒ…', Decimal('813')],
 ['Yalu', Decimal('813')],
 ['Rhone', Decimal('812')],
 ['Warta', Decimal('808')],
 ['Batang Hari', Decimal('800')],
 ['Sanga', Decimal('785')],
 ['Mureè‘¯', Decimal('776')],
 ['Seine', Decimal('776')],
 ['Prypjat', Decimal('775')],
 ['Western Bug', Decimal('772')],
 ['Gan Jiang', Decimal('758')],
 ['Rio Coco', Decimal('750')],
 ['Urubamba', Decimal('750')],
 ['Drau', Decimal('749')],
 ['Guadiana', Decimal('742')],
 ['Northern Dwina', Decimal('740')],
 ['Sobat', Decimal('740')],
 ['Apurimac', Decimal('730')],
 ['Sereth', Decimal('726')],
 ['Mantaro', Decimal('724')],
 ['Murat', Decimal('720')],
 ['Bahr el-Ghazal', Decimal('716')],
 ['Susquehanna River', Decimal('715')],
 ['Mangoky', Decimal('714')],
 ['South Platte River', Decimal('711')],
 ['Ingoda', Decimal('708')],
 ['Chelif', Decimal('700')],
 ['Katun', Decimal('688')],
 ['Naryn', Decimal('678')],
 ['Nelson River', Decimal('664')],
 ['Guadalquivir', Decimal('657')],
 ['Connecticut River', Decimal('655')],
 ['Po', Decimal('652')],
 ['Potomac River', Decimal('652')],
 ['Garonne', Decimal('647')],
 ['Torneç›²lv', Decimal('631')],
 ['Olt', Decimal('615')],
 ['Sacramento River', Decimal('607')],
 ['Glomma', Decimal('604')],
 ['Rajang', Decimal('563')],
 ['Schilka', Decimal('560')],
 ['Suchona', Decimal('558')],
 ['Kadei', Decimal('552')],
 ['Kemijoki', Decimal('550')],
 ['Saskatchewan River', Decimal('547')],
 ['Mosel', Decimal('544')],
 ['Egiin Gol', Decimal('535')],
 ['San Joaquin River', Decimal('530')],
 ['Nakdonggang', Decimal('526')],
 ['Main', Decimal('524')],
 ['Dong Jiang', Decimal('523')],
 ['Allegheny River', Decimal('523')],
 ['Tumen', Decimal('521')],
 ['Dalç›²lv', Decimal('520')],
 ['Inn', Decimal('517')],
 ['Marne', Decimal('514')],
 ['Catatumbo', Decimal('500')],
 ['Arun', Decimal('500')],
 ['Rio Patuca', Decimal('500')],
 ['Platte River', Decimal('499')],
 ['Namhangang', Decimal('494')],
 ['Hudson River', Decimal('493')],
 ['Mambere', Decimal('488')],
 ['Rio Motagua', Decimal('486')],
 ['Victoria Nile', Decimal('480')],
 ['Rio Grijalva', Decimal('480')],
 ['Ruvuvu', Decimal('480')],
 ['Saone', Decimal('473')],
 ['Karasu', Decimal('470')],
 ['Umeç›²lv', Decimal('470')],
 ['Bei Jiang', Decimal('468')],
 ['Humboldt River', Decimal('467')],
 ['Medjerda', Decimal('460')],
 ['Klarç›²lv', Decimal('460')],
 ['Mur', Decimal('453')],
 ['Doubs', Decimal('453')],
 ['Narew', Decimal('448')],
 ['Rio Loa', Decimal('443')],
 ['Moldau', Decimal('440')],
 ['Weser', Decimal('440')],
 ['Slave River', Decimal('434')],
 ['Bani', Decimal('430')],
 ['Tista', Decimal('430')],
 ['Sunkoshi', Decimal('430')],
 ['Waikato River', Decimal('425')],
 ['Klamath River', Decimal('423')],
 ['Rio Lempa', Decimal('422')],
 ['Etsch', Decimal('415')],
 ['Saale', Decimal('413')],
 ['Tevere', Decimal('405')],
 ['Waag', Decimal('403')],
 ['Snowy River', Decimal('403')],
 ['Shire', Decimal('402')],
 ['Kagera', Decimal('400')],
 ['Spree', Decimal('400')],
 ['Gandaki', Decimal('400')],
 ['Mara', Decimal('395')],
 ['Murgab', Decimal('395')],
 ['Rio Guayas', Decimal('389')],
 ['Vardar', Decimal('388')],
 ['Rio Desaguadero', Decimal('383')],
 ['Ré“†o Bé“†o Bé“†o', Decimal('380')],
 ['Rio Bogota', Decimal('375')],
 ['Iskar', Decimal('368')],
 ['Shinano', Decimal('367')],
 ['Neckar', Decimal('367')],
 ['Schelde', Decimal('360')],
 ['Shannon', Decimal('360')],
 ['March', Decimal('358')],
 ['Severn', Decimal('354')],
 ['Kali Gandaki', Decimal('350')],
 ['Lukuga', Decimal('350')],
 ['Argeè‘¯', Decimal('350')],
 ['Feather River', Decimal('350')],
 ['Rukurara-Nyabarongo', Decimal('350')],
 ['Luvua', Decimal('350')],
 ['Drina', Decimal('346')],
 ['Thames', Decimal('346')],
 ['Artibonito', Decimal('343')],
 ['Rio Cauto', Decimal('343')],
 ['Clutha River', Decimal('338')],
 ['Havel', Decimal('334')],
 ['Bukhangang', Decimal('325')],
 ['Tone', Decimal('322')],
 ['Læ°“gen', Decimal('322')],
 ['Vç›²sterdalç›²lv', Decimal('320')],
 ['Pibor', Decimal('320')],
 ['Mulde', Decimal('314')],
 ['Adda', Decimal('313')],
 ['Western Morava', Decimal('308')],
 ['Baro', Decimal('306')],
 ['Luapula', Decimal('300')],
 ['Trishuli', Decimal('300')],
 ['Koshi', Decimal('300')],
 ['Ounasjoki', Decimal('300')],
 ['Trent', Decimal('298')],
 ['Maritsa', Decimal('297')],
 ['Aliakmonas', Decimal('297')],
 ['Southern Morava', Decimal('295')],
 ['Isar', Decimal('295')],
 ['Werra', Decimal('292')],
 ['Aare', Decimal('288')],
 ['Isere', Decimal('286')],
 ['Leine', Decimal('281')],
 ['Tanaro', Decimal('276')],
 ['Ishikari', Decimal('268')],
 ['Lech', Decimal('264')],
 ['Weiè„½e Elster', Decimal('257')],
 ['Enns', Decimal('254')],
 ['Jordan', Decimal('251')],
 ['Raab', Decimal('250')],
 ['Kitakami', Decimal('249')],
 ['Ticino', Decimal('248')],
 ['Lahn', Decimal('246')],
 ['è„°sterdalç›²lv', Decimal('241')],
 ['Arno', Decimal('240')],
 ['DèŠ’mboviè‘²a', Decimal('237')],
 ['Mondego', Decimal('234')],
 ['Semliki', Decimal('230')],
 ['Thjorsa', Decimal('230')],
 ['Saar', Decimal('227')],
 ['Truckee River', Decimal('225')],
 ['Salzach', Decimal('225')],
 ['Swir', Decimal('224')],
 ['Fulda', Decimal('221')],
 ['Lippe', Decimal('220')],
 ['Ruhr', Decimal('219')],
 ['Neretva', Decimal('218')],
 ['Ill', Decimal('217')],
 ['Aller', Decimal('211')],
 ['Jæžškulsa a Fjæžšllum', Decimal('206')],
 ['Kymijoki', Decimal('203')],
 ['Fimi', Decimal('200')],
 ['Rhumel', Decimal('200')],
 ['Manicouagan River', Decimal('200')],
 ['Detroit River', Decimal('200')],
 ['Rio San Juan', Decimal('199')],
 ['Schatt al Arab', Decimal('193')],
 ['Amargosa River', Decimal('185')],
 ['Morava', Decimal('185')],
 ['Sungacha', Decimal('180')],
 ['Sado', Decimal('180')],
 ['Ene', Decimal('180')],
 ['Merrimack River', Decimal('177')],
 ['Clyde', Decimal('176')],
 ['White Drin', Decimal('175')],
 ['Sauer', Decimal('173')],
 ['Ré“†o Baker', Decimal('170')],
 ['Pearl River', Decimal('170')],
 ['Ammer', Decimal('168')],
 ['Perene', Decimal('165')],
 ['Reuss', Decimal('164')],
 ['Vuoksi', Decimal('162')],
 ['Dora Baltea', Decimal('160')],
 ['Tambo', Decimal('160')],
 ['Sieg', Decimal('155')],
 ['Tirso', Decimal('152')],
 ['Drin', Decimal('152')],
 ['Alz', Decimal('150')],
 ['Asahan', Decimal('150')],
 ['Iller', Decimal('147')],
 ['Paatsjoki', Decimal('145')],
 ['Imera Meridionale', Decimal('144')],
 ['Hrazdan', Decimal('141')],
 ['Tara', Decimal('140')],
 ['Bartang', Decimal('133')],
 ['Black Drin', Decimal('133')],
 ['Bann', Decimal('129')],
 ['Regen', Decimal('125')],
 ['Riviere Richelieu', Decimal('124')],
 ['Elz', Decimal('121')],
 ['Kokemç›²enjoki', Decimal('121')],
 ['Saint Marys River', Decimal('120')],
 ['Piva', Decimal('120')],
 ['Tonle Sap River', Decimal('120')],
 ['Great Bear River', Decimal('113')],
 ['Luvironza', Decimal('110')],
 ['Caloosahatchee River', Decimal('108')],
 ['Oulujoki', Decimal('107')],
 ['Enz', Decimal('105')],
 ['Ruzizi', Decimal('104')],
 ['Motala Stræžšm', Decimal('100')],
 ['Moraca', Decimal('99.5')],
 ['Gæžštaç›²lv', Decimal('93')],
 ['Eucumbene River', Decimal('83')],
 ['Koukdjuak River', Decimal('80')],
 ['Narva', Decimal('78')],
 ['Yodo', Decimal('75')],
 ['Mincio', Decimal('75')],
 ['Newa', Decimal('74')],
 ['Alzette', Decimal('73')],
 ['Hinterrhein', Decimal('72')],
 ['Panjnad', Decimal('71')],
 ['Bregenzer Ach', Decimal('67')],
 ['Ilz', Decimal('62')],
 ['Niagara River', Decimal('58')],
 ['Nipigon River', Decimal('48')],
 ['Breg', Decimal('45.9')],
 ['Buna', Decimal('44')],
 ['Rio Dulce', Decimal('43')],
 ['Brigach', Decimal('43')],
 ['Agus River', Decimal('37')],
 ['Limmat', Decimal('36.3')],
 ['Arrone', Decimal('35')],
 ['Marta', Decimal('35')],
 ['Wçœ‰rm', Decimal('35')],
 ['Ruggles River', Decimal('22')],
 ['Manitou River', Decimal('15')],
 ['Ness', Decimal('12')],
 ['Leven', Decimal('10')],
 ['Pansipit River', Decimal('9')],
 ['Mindemoya River', Decimal('8')],
 ['Straits of Mackinac', Decimal('0.1')],
 ['Lualaba', None])

To get all of the rows returned from a query, you can also use the cursor object in a `for` loop, like so:

In [23]:
myquery = "SELECT name, max(length) FROM river GROUP BY name ORDER BY max(length) DESC LIMIT 20;"
cursor.execute(myquery)
for row in cursor:
    print(row)

['Lualaba', None]
['Yangtze', Decimal('6380')]
['Hwangho', Decimal('4845')]
['Lena', Decimal('4400')]
['Zaire', Decimal('4374')]
['Mekong', Decimal('4350')]
['Irtysch', Decimal('4248')]
['Niger', Decimal('4184')]
['Missouri', Decimal('4130')]
['Jenissej', Decimal('4092')]
['Mississippi', Decimal('3778')]
['Amazonas', Decimal('3778')]
['Ob', Decimal('3650')]
['Volga', Decimal('3531')]
['Jurua', Decimal('3283')]
['Tarim-Yarkend', Decimal('3260')]
['Purus', Decimal('3210')]
['Yukon River', Decimal('3185')]
['Indus', Decimal('3180')]
['Nile', Decimal('3090')]

In [24]:
#Same thing but an extra variable
myquery = "SELECT name, max(length) FROM river GROUP BY name ORDER BY max(length) DESC LIMIT 20;"
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Lualaba', None]
['Yangtze', Decimal('6380')]
['Hwangho', Decimal('4845')]
['Lena', Decimal('4400')]
['Zaire', Decimal('4374')]
['Mekong', Decimal('4350')]
['Irtysch', Decimal('4248')]
['Niger', Decimal('4184')]
['Missouri', Decimal('4130')]
['Jenissej', Decimal('4092')]
['Mississippi', Decimal('3778')]
['Amazonas', Decimal('3778')]
['Ob', Decimal('3650')]
['Volga', Decimal('3531')]
['Jurua', Decimal('3283')]
['Tarim-Yarkend', Decimal('3260')]
['Purus', Decimal('3210')]
['Yukon River', Decimal('3185')]
['Indus', Decimal('3180')]
['Nile', Decimal('3090')]

In [25]:
#Same thing but with space for a big query
myquery = '''
SELECT name, max(length) 
FROM river 
GROUP BY name 
ORDER BY max(length) DESC
LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Lualaba', None]
['Yangtze', Decimal('6380')]
['Hwangho', Decimal('4845')]
['Lena', Decimal('4400')]
['Zaire', Decimal('4374')]
['Mekong', Decimal('4350')]
['Irtysch', Decimal('4248')]
['Niger', Decimal('4184')]
['Missouri', Decimal('4130')]
['Jenissej', Decimal('4092')]
['Mississippi', Decimal('3778')]
['Amazonas', Decimal('3778')]
['Ob', Decimal('3650')]
['Volga', Decimal('3531')]
['Jurua', Decimal('3283')]
['Tarim-Yarkend', Decimal('3260')]
['Purus', Decimal('3210')]
['Yukon River', Decimal('3185')]
['Indus', Decimal('3180')]
['Nile', Decimal('3090')]

The `.fetchone()` method gets you a LIST for the results of each row (each row is one element in a TUPLE of LISTS returned by the cursor object.)

## Flexible Queries
Now that we are in Python we can be more flexible about what goes in and out of our queries. For example, if we are getting names of rivers inputted by the users of our website, we can set up a query to get information about the river from the database.

We could build our query as a simple variable (but you will see we don't want to):

In [26]:
userwants = "Mississippi"
badquery = "SELECT length FROM river WHERE name = '" + userwants + "'";
print(badquery)

SELECT length FROM river WHERE name = 'Mississippi'

In [27]:
cursor.execute(badquery)
cursor.fetchone()

[Decimal('3778')]

So why did I name that variable "badquery"? A couple reasons. First, if there was a river with an ' in its name, like "Roger's River" the query would break.

In [28]:
bad_river = "Roger's River"
query = "SELECT length FROM river WHERE name = '" + bad_river + "'"
print(query)

SELECT length FROM river WHERE name = 'Roger's River'

For this reason and others, the cursor object's `.execute()` method comes with a built-in means of interpolating values into queries. Use `%s` as wildcards in your query string wherever you want to insert a value, and then pass as a second parameter to `.execute()` via list of values that you want to be included in the query:

In [29]:
cursor.execute("SELECT length FROM river WHERE name = %s",
              ["Roger's River"])

pg8000 deals with interpolated to string properly, and protects you from [SQL injection attacks](https://en.wikipedia.org/wiki/SQL_injection).

Here's an example looping through a list of rivers to get their length:

In [30]:
user_wants_rivers = ["Zaire","Nile","Missouri","Indus"]
for river_name in user_wants_rivers:
    cursor.execute("SELECT length FROM river WHERE name = %s",
                   [river_name])
    length = cursor.fetchone() # fetchone() returns a tuple w/1 val
    print(river_name, length)

Zaire [Decimal('4374')]
Nile [Decimal('3090')]
Missouri [Decimal('4130')]
Indus [Decimal('3180')]

##  errors in pg8000

Simple errors can break your connection to the database.

In [31]:
cursor = conn.cursor()
cursor.execute("SELECTT length FROM river WHERE name = 'Nile'")

ProgrammingError: ('ERROR', 'ERROR', '42601', 'syntax error at or near "SELECTT"', '1', 'scan.l', '1087', 'scanner_yyerror')

... you'll get a syntax error. But also you will keep getting errors even when you fix the problem:

In [32]:
cursor = conn.cursor()
cursor.execute("SELECT length FROM river WHERE name = 'Nile'")

ProgrammingError: ('ERROR', 'ERROR', '25P02', 'current transaction is aborted, commands ignored until end of transaction block', 'postgres.c', '1309', 'exec_parse_message')

The way to fix this problem is to close the connection and re-open it, by calling the connection object's `rollback` method:

In [33]:
conn.rollback()

Now your queries can proceed as planned:

In [34]:
cursor.execute("SELECT length FROM river WHERE name = 'Nile'")
cursor.fetchone()

[Decimal('3090')]

## More information

For more information, go to [pg8000's documentation](http://pythonhosted.org/pg8000/).